# Used by Docker Compose: https://docs.docker.com/compose/env-file/

# The name the app will be saved under in Docker compose
COMPOSE_PROJECT_NAME=radixdlt-network-gateway__toy-deployment

# Wait up to this many ms for PostGres to boot up
MAX_DB_WAIT_MS_ON_START=30000

# The logical network name which the nodes you connect to must match with
# EG mainnet | stokenet | localnet
NETWORK_NAME=stokenet

POSTGRES_SUPERUSER=db_superuser
POSTGRES_SUPERUSER_PASSWORD=db_password_CHANGE_ME
POSTGRES_DB_NAME=radixdlt_ledger

# Define the Full Node Core APIs to connect to below
# Note that host.docker.internal translates to the host machine's localhost from a docker container when run in Docker Desktop on Mac or Windows
# See - https://www.cloudsavvyit.com/14114/how-to-connect-to-localhost-within-a-docker-container/

NODE_0_NAME=One
NODE_0_ADDRESS=http://host.docker.internal:3333
NODE_0_ENABLED_FOR_INDEXING=true

NODE_1_NAME=Two
NODE_1_ADDRESS=http://host.docker.internal:3334
NODE_1_ENABLED_FOR_INDEXING=false

NODE_2_NAME=Three
NODE_2_ADDRESS=http://host.docker.internal:3335
NODE_2_ENABLED_FOR_INDEXING=false

NODE_3_NAME=Four
NODE_3_ADDRESS=http://host.docker.internal:3336
NODE_3_ENABLED_FOR_INDEXING=false

NODE_4_NAME=Five
NODE_4_ADDRESS=http://host.docker.internal:3337
NODE_4_ENABLED_FOR_INDEXING=false
