name: release
on:
  release:
    types: [published]
jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        dotnet-version: ['6.0.x']
    environment: release
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v1.8.2
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
          include-prerelease: true
      - name: Get release
        id: get_release
        uses: bruceadams/get-release@v1.2.2
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Build linux binaries
        run: |
          cd samples/DataAggregator
          echo "$( jq '.+{DataAggregatorVersion:"${{ steps.get_release.outputs.tag_name }}"}' appsettings.json )" > appsettings.json
          dotnet publish --runtime linux-x64 --configuration Release --self-contained false -p:PublishSingleFile=true -p:PublishReadyToRun=true -p:DebugType=None -p:DebugSymbols=false --output ./output
          cd ../DatabaseMigrations
          echo "$( jq '.+{DatabaseMigrationsVersion:"${{ steps.get_release.outputs.tag_name }}"}' appsettings.json )" > appsettings.json
          dotnet publish --runtime linux-x64 --configuration Release --self-contained false -p:PublishSingleFile=true -p:PublishReadyToRun=true -p:DebugType=None -p:DebugSymbols=false --output ./output
          cd ../GatewayApi
          echo "$( jq '.+{GatewayApiVersion:"${{ steps.get_release.outputs.tag_name }}"}' appsettings.json )" > appsettings.json
          dotnet publish --runtime linux-x64 --configuration Release --self-contained false -p:PublishSingleFile=true -p:PublishReadyToRun=true -p:DebugType=None -p:DebugSymbols=false --output ./output
          cd ../..
          zip -r data-aggregator.zip samples/DataAggregator/output/
          zip -r database-migrations.zip samples/DatabaseMigrations/output/
          zip -r gateway-api.zip samples/GatewayApi/output/

      - name: Upload DataAggreagtor zip
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: ./data-aggregator.zip
          asset_name: data-aggregator-${{ github.event.release.tag_name }}-linux-x64.zip
          asset_content_type: application/zip
      - name: Upload GatewayAPI zip
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: ./gateway-api.zip
          asset_name: gateway-api-${{ github.event.release.tag_name }}-linux-x64.zip
          asset_content_type: application/zip
      - name: Upload DatabseMigrations zip
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: ./database-migrations.zip
          asset_name: database-migrations-${{ github.event.release.tag_name }}-linux-x64.zip
          asset_content_type: application/zip


  publish-docker:
    runs-on: ubuntu-22.04
    environment: release
    steps:
      - name: Dump context
        uses: crazy-max/ghaction-dump-context@v1

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get release
        id: get_release
        uses: bruceadams/get-release@v1.2.2
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Login to Dockerhub (release)
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Setup tags for docker image
        id: setup_tags
        uses: ./.github/actions/set-variables
        with:
          github_event_name: ${{ github.event_name }}
          github_action_name: ${{ github.event.action}}

      - name: Setup application version
        run: |
          echo "$( jq '.+{DataAggregatorVersion:"${{ steps.get_release.outputs.tag_name }}"}' samples/DataAggregator/appsettings.json )" > src/DataAggregator/appsettings.json
          echo "$( jq '.+{DatabaseMigrationsVersion:"${{ steps.get_release.outputs.tag_name }}"}' samples/DatabaseMigrations/appsettings.json )" > src/DatabaseMigrations/appsettings.json          
          echo "$( jq '.+{GatewayApiVersion:"${{ steps.get_release.outputs.tag_name }}"}' samples/GatewayApi/appsettings.json )" > src/GatewayAPI/appsettings.json

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Docker build and push DataAggregator
        uses: docker/build-push-action@v2
        with:
          file: ./samples/DataAggregator/Dockerfile
          tags: |
            ${{ steps.setup_tags.outputs.data_aggregator_tags }}
          push: true
          platforms: linux/amd64,linux/arm64
          context: ./

      - name: Docker build and push Gateway API
        uses: docker/build-push-action@v2
        with:
          file: ./samples/GatewayApi/Dockerfile
          tags: |
            ${{ steps.setup_tags.outputs.gateway_api_tags }}
          push: true
          platforms: linux/amd64,linux/arm64
          context: ./

      - name: Docker build and push Database Migrations
        uses: docker/build-push-action@v2
        with:
          file: ./samples/DatabaseMigrations/Dockerfile
          tags: |
            ${{ steps.setup_tags.outputs.database_migrations_tags }}
          push: true
          platforms: linux/amd64,linux/arm64
          context: ./