name: release
on:
  release:
    types: [published]
jobs:
  publish-docker:
    runs-on: ubuntu-22.04
    environment: release
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    steps:
      - name: Dump context
        uses: crazy-max/ghaction-dump-context@516dbb0c760f39b4cdd750ae095f1688780f68f4

      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
        with:
          fetch-depth: 0

      - name: Get release
        id: get_release
        uses: bruceadams/get-release@f589ce0779c7bef1faf175f7488c972eb47dc046
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: "Configure AWS credentials"
        uses: aws-actions/configure-aws-credentials@97271860067ec931c45b8d104fbf0d15954ab85c
        with:
          role-to-assume: arn:aws:iam::308190735829:role/gh-dockerhub-releaser
          aws-region: eu-west-2

      - name: Read secrets from AWS Secrets Manager into environment variables
        uses: aws-actions/aws-secretsmanager-get-secrets@287592d14d9c9c48199db83dc182ae12af3df18e
        with:
          secret-ids: |
            DOCKERHUB, github-actions/rdxworks/dockerhub-images/release-credentials
          parse-json-secrets: true

      - name: Login to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{env.DOCKERHUB_USERNAME}}
          password: ${{env.DOCKERHUB_TOKEN}}

      - name: Setup tags for docker image
        id: setup_tags
        uses: ./.github/actions/set-variables
        with:
          github_event_name: ${{ github.event_name }}
          github_action_name: ${{ github.event.action}}

      - name: Docker build and push DataAggregator AMD
        uses: docker/build-push-action@c56af957549030174b10d6867f20e78cfd7debc5
        with:
          file: ./apps/DataAggregator/Dockerfile
          tags: |
            ${{ steps.setup_tags.outputs.data_aggregator_tags }}
          push: true
          platforms: linux/amd64
          context: ./
      
      - name: Docker build and push DataAggregator ARM
        uses: docker/build-push-action@c56af957549030174b10d6867f20e78cfd7debc5
        with:
          file: ./apps/DataAggregator/Dockerfile
          tags: |
            ${{ steps.setup_tags.outputs.data_aggregator_tags }}
          push: true
          platforms: linux/arm64
          context: ./

      - name: Docker build and push Gateway API AMD
        uses: docker/build-push-action@c56af957549030174b10d6867f20e78cfd7debc5
        with:
          file: ./apps/GatewayApi/Dockerfile
          tags: |
            ${{ steps.setup_tags.outputs.gateway_api_tags }}
          push: true
          platforms: linux/amd64
          context: ./
          
      - name: Docker build and push Gateway API ARM
        uses: docker/build-push-action@c56af957549030174b10d6867f20e78cfd7debc5
        with:
          file: ./apps/GatewayApi/Dockerfile
          tags: |
            ${{ steps.setup_tags.outputs.gateway_api_tags }}
          push: true
          platforms: linux/arm64
          context: ./

      - name: Docker build and push Database Migrations AMD
        uses: docker/build-push-action@c56af957549030174b10d6867f20e78cfd7debc5
        with:
          file: ./apps/DatabaseMigrations/Dockerfile
          tags: |
            ${{ steps.setup_tags.outputs.database_migrations_tags }}
          push: true
          platforms: linux/amd64
          context: ./

      - name: Docker build and push Database Migrations ARM
        uses: docker/build-push-action@c56af957549030174b10d6867f20e78cfd7debc5
        with:
          file: ./apps/DatabaseMigrations/Dockerfile
          tags: |
            ${{ steps.setup_tags.outputs.database_migrations_tags }}
          push: true
          platforms: linux/arm64
          context: ./